<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <connectionStrings>
    <add name="NorthwindEntities" 
         connectionString="Data Source=EPRUSAMW0071;Initial Catalog=Northwind;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <bindings>
      <basicHttpBinding>
        <binding name="mySvcHttpBinding" />
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="wsClientBinding" />
      </wsDualHttpBinding>
    </bindings>

    <services>
      <service name="Epam.WCFMentoring.Northwind.ServicesImpl.OrderSvc.OrderServiceImpl">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:55555/orderSvc"/>
          </baseAddresses>
        </host>
        <endpoint address="" 
                  binding="basicHttpBinding" 
                  bindingConfiguration="mySvcHttpBinding" 
                  contract="Epam.WCFMentoring.Northwind.Services.OrderSvc.IOrderService" />
      </service>

      <service name="Epam.WCFMentoring.Northwind.ServicesImpl.CategorySvc.CategoryServiceImpl">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:55555/categorySvc"/>
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="mySvcHttpBinding"
                  contract="Epam.WCFMentoring.Northwind.Services.CategorySvc.ICategoryService" />
      </service>

      <service name="Epam.WCFMentoring.Northwind.ServicesImpl.OrderSvc.PubSubServiceImpl">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:55555/pubSubSvc"/>
          </baseAddresses>
        </host>
        <endpoint address="" 
                  binding="wsDualHttpBinding" 
                  bindingConfiguration="wsClientBinding" 
                  contract="Epam.WCFMentoring.Northwind.Services.OrderSvc.IPubSubService" />
      </service>
    </services>
  </system.serviceModel>
  
</configuration>