<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

<system.serviceModel>
  <bindings>
    <basicHttpBinding>
      <binding name="calcHttpBinding" />
    </basicHttpBinding>
    <netTcpBinding>
      <binding name="calcTcpBinding" />
    </netTcpBinding>
  </bindings>
  
  <services>    
    <service name="ServicesImpl.CalcServiceImpl">     
      <endpoint address="net.tcp://localhost:55555/calc" 
                binding="netTcpBinding"
                bindingConfiguration="calcTcpBinding"
                contract="Services.ICalcService" />
    
      <endpoint address="http://localhost:55556/calc" 
                binding="basicHttpBinding"
                bindingConfiguration="calcHttpBinding"
                contract="Services.ICalcService" />  
    </service>    
  </services>
</system.serviceModel>


</configuration>