<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="mySvcHttpBinding" />
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="wsClientBinding"
                 clientBaseAddress="http://localhost:55556">
        </binding>
      </wsDualHttpBinding>
    </bindings>

    <client>
      <endpoint name="orderSvc"
                address="http://localhost:55555/orderSvc"
                binding="basicHttpBinding"
                bindingConfiguration="mySvcHttpBinding"
                contract="Epam.WCFMentoring.Northwind.Services.OrderSvc.IOrderService" />

      <endpoint name="categorySvc"
                address="http://localhost:55555/categorySvc"
                binding="basicHttpBinding"
                bindingConfiguration="mySvcHttpBinding"
                contract="Epam.WCFMentoring.Northwind.Services.CategorySvc.ICategoryService" />

      <endpoint name="pubSubEp"
                address="http://localhost:55555/pubSubSvc"
                binding="wsDualHttpBinding"
                bindingConfiguration="wsClientBinding"
                contract="Epam.WCFMentoring.Northwind.Services.OrderSvc.IPubSubService" />
    </client>
  </system.serviceModel>
</configuration>