<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="calcHttpBinding" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="calcTcpBinding" />
      </netTcpBinding>
    </bindings>

    <client>      
      <endpoint name="tcpCalc"
                address="net.tcp://localhost:55555/calc" 
                binding="netTcpBinding" 
                bindingConfiguration="calcTcpBinding"
                contract="Services.ICalcService" />

      <endpoint name="httpCalc"
                address="http://localhost:55556/calc"
                binding="basicHttpBinding" 
                bindingConfiguration="calcHttpBinding"
                contract="Services.ICalcService" />      
    </client>
  
  </system.serviceModel>
</configuration>